{% load staticfiles %}
<html>
    <head>
            <title>The Ultimate Foursquare Client</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/client.css' %}">
            <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
        </head>
    <div class="page-header">
        <h1><a>The Ultimate Foursquare Client</a></h1>
    </div>
    <form id="searcher-form" method="GET" class="searcher-form">
        {% csrf_token %}
        {{ form}}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
        <div id="previous">
        <h3>Previous Searches</h3>
        {% for search in previous_searches %}
        <div class="get">
            <span> - {{search.food}} in {{search.location}}</span>
        </div>
        {% endfor %}

    </div>
    <h2 id="results">Results</h2>
    <table id="results_table">
      <tr>
        <th>Venue</th>
        <th>Contact</th>
        <th>Check-in Number</th>
      </tr>
        {% for info in venue_info %}
            <tr>
                <td>{{info.name}}</td>
                <td>{{info.phone}}</td>
                <td>{{info.usersCount}}</td>
            </tr>
        {% endfor %}
    </table>


</html>