{% extends 'client/base.html' %}


{% block content %}
<head>
    <title>Ultimate Foursquare Search</title>
</head>
    <div class="container">
        <form id="searcher-form" method="GET" class="searcher-form">
            {% csrf_token %}
            {{ form}}
            <button type="submit" class="save btn btn-default">Search</button>
        </form>
        <div id="previous">
            <h5><b>Previous Searches</b></h5>
            {% for search in previous_searches %}
                <div class="get">
                     <a href="?location={{search.location}}&food={{search.food}}" > - {{search.food}} in {{search.location}}</a>
                 </div>
            {% endfor %}
        </div>



        <div id="results">
            <h5><b>Results</b></h5>
            <table class="highlight">
              <tr>
                <th></th>
                <th>Venue</th>
                <th>Contact</th>
                <th>Total Check-in</th>
              </tr>
                {% for info in venue_info %}
                    <tr>
                        <td><img src={{info.food_icon}} alt="Food Icon" height="32" width="32" /></td>
                        <td ><a href="/detail/{{info.venue_id}}/">{{info.name}}</a></td>
                        <td>{{info.phone}}</td>
                        <td>{{info.usersCount}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}

