.page-header {
    background-color: #1E90FF;
    margin-top: 0;
    padding: 20px 20px 20px 5px;
}

.page-header h1 ,.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
    text-align: center;
}

h1 a {
    font-family: 'Bevan', cursive;
}

#previous{
    position:absolute;
	right:200px;
	top:130px;
}

#search-form{
    display:block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

label[for=id_food_name]{
    margin-left: 20px;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#results{
    position:absolute;
    top:270px;
    right:1130px;
}
#results_table{
    position:absolute;
    top:330px;
}
#searcher-form{

}