.page-header {
    background-color: #1E90FF;
    margin-top: 0;
    padding: 20px 20px 20px 5px;
}

.page-header h1 ,.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
}

h1 a {
    font-family: 'Bevan', cursive;
}

#previous{
    position:absolute;
	right:200px;
	top:380px;
}

#search-form{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

label[for=id_food_name]{
    margin-left: 20px;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#results{
    position:absolute;
    top:200px;
    margin-left: auto;
    margin-right: auto;

}

#tips{
    position:absolute;
    top:100px;
    right:200px;

}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
table.highlight > tbody > tr {
  transition: background-color .25s ease;


}
table.highlight > tbody > tr:hover {
  background-color: #f2f2f2;
}
#results{
    top:380px;
}
